@use './common/mixins.scss';

@include mixins.b(checkbox-all) {
  display: flex;
  flex-direction: column;

  @include mixins.s(horizontal) {
    flex-direction: row;
  }

  @include mixins.e(label) {
    white-space: nowrap;
  }
}
