@use './common/mixins.scss';
@use './common/componentVar.scss' as comVar;
@use './common/function.scss' as fn;
@use './common/var.scss';

// 根元素
@include mixins.b(checkbox) {
  // 混入私有变量
  @include mixins.set-component-var(checkbox, comVar.getCheckboxVar());

  display: inline-flex;
  align-items: center;
  height: var(#{fn.getVarName(checkbox, size)});
  margin-right: 24px;
  cursor: pointer;
  user-select: none;

  &:hover {
    // 私有变量的名字: var(全局变量的名字);
    #{fn.getVarName(checkbox, border-color)}: var(#{fn.getVarName(border-color, hover)});
  }

  // 勾选状态
  @include mixins.s(checked) {
    #{fn.getVarName(checkbox, border-color)}: var(#{fn.getVarName(checkbox, checked-border-color)});
    #{fn.getVarName(checkbox, bg-color)}: var(#{fn.getVarName(checkbox, checked-bg-color)});
    #{fn.getVarName(checkbox, text-color)}: var(#{fn.getVarName(checkbox, checked-text-color)});
    #{fn.getVarName(checkbox, icon-color)}: var(#{fn.getVarName(checkbox, checked-icon-color)});

    // 图标
    @include mixins.e(icon-check, false) {
      transform: scale(1);
      transition: 0.3s;
    }
  }

  // 禁用状态
  @include mixins.s(disabled) {
    #{fn.getVarName(checkbox, border-color)}: var(
      #{fn.getVarName(checkbox, disabled-border-color)}
    );
    #{fn.getVarName(checkbox, bg-color)}: var(#{fn.getVarName(checkbox, disabled-bg-color)});
    #{fn.getVarName(checkbox, text-color)}: var(#{fn.getVarName(checkbox, disabled-text-color)});
    #{fn.getVarName(checkbox, icon-color)}: var(#{fn.getVarName(checkbox, disabled-icon-color)});
  }

  // 循环生成主题色的选择器
  @each $type in var.$types-base {
    // .a-checkbox--primary
    @include mixins.m($type) {
      @include mixins.s(checked) {
        // 覆盖私有变量
        @include mixins.set-component-var(checkbox, comVar.getCheckboxVar($type), type);
      }
    }
  }

  // 循环生成尺寸的选择器
  @each $s in var.$sizes {
    @include mixins.m(size, $s) {
      #{fn.getVarName(checkbox, font-size)}: var(#{fn.getVarName(font-size, $s)});
      #{fn.getVarName(checkbox, check-size)}: var(#{fn.getVarName(checkbox-size, $s)});
      #{fn.getVarName(checkbox, check-round)}: var(#{fn.getVarName(component-round, $s)});
      #{fn.getVarName(checkbox, check-icon-size)}: var(#{fn.getVarName(checkbox-icon-size, $s)});
    }
  }

  // 复选框容器
  @include mixins.e(wrapper) {
    position: relative;

    // 真实的复选框
    @include mixins.e(input) {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }

    // 模拟出来的复选框
    @include mixins.e(inner) {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var(#{fn.getVarName(checkbox, border-color)});
      width: var(#{fn.getVarName(checkbox, check-size)});
      height: var(#{fn.getVarName(checkbox, check-size)});
      box-sizing: border-box;
      border-radius: var(#{fn.getVarName(checkbox, check-round)});
      background-color: var(#{fn.getVarName(checkbox, bg-color)});
      color: var(#{fn.getVarName(checkbox, icon-color)});
      transition: 0.3s;

      // 图标
      @include mixins.e(icon-check) {
        transform: scale(0);
        transition: 0.3s;
        font-size: var(#{fn.getVarName(checkbox, check-icon-size)});
      }
    }
  }

  // 描述文本
  @include mixins.e(label) {
    margin-left: 8px;
    color: var(#{fn.getVarName(checkbox, text-color)});
    line-height: 1;
    font-size: var(#{fn.getVarName(checkbox, font-size)});
  }
}
