@use './common/mixins.scss';
@use 'sass:math';

@include mixins.b(col) {
  display: block;
  min-height: 1px;
  box-sizing: border-box;
}

@for $i from 1 through 24 {
  $value: math.div($i, 24) * 100 * 1%;
  .a-col-#{$i} {
    width: $value;
    flex: 0 0 $value;
  }

  // 偏移的类名
  .a-col-offset-#{$i} {
    margin-left: $value;
  }
}
