@use './common/mixins.scss';

// 根元素
@include mixins.b(form-item) {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #555;
  font-size: 14px;

  // 左侧 label 的容器
  @include mixins.e(label-wrapper) {
    width: 100px;
    padding-right: 8px;
    box-sizing: border-box;

    // 描述文本
    @include mixins.e(label) {
      display: inline-block;
      width: 100%;
      height: 32px;
      line-height: 32px;
      white-space: nowrap;
    }
  }

  // 右侧 控件 的容器
  @include mixins.e(control) {
    width: 100%;
    position: relative;

    // 内层表单项的容器
    @include mixins.e(control-inner) {
    }

    // 错误消息
    @include mixins.e(message) {
      position: absolute;
      margin-top: 2px;
      font-size: 12px;
      color: red;
    }
  }
}
