@use './common/mixins.scss';
@use './common/componentVar.scss' as comVar;
@use './common/function.scss' as fn;

// 根元素
@include mixins.b(form-item) {
  // 混入组件的私有变量
  @include mixins.set-component-var(form-item, comVar.getFormItemVar());

  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(#{fn.getVarName(form-item, text-color)});
  font-size: var(#{fn.getVarName(form-item, font-size)});

  // label 在顶部进行对齐
  @include mixins.s(label-top) {
    flex-direction: column;
    align-items: start;
  }

  // 渲染必填项标识
  @include mixins.s(required) {
    // 描述文本
    @include mixins.e(label, false) {
      &::before {
        content: '*';
        color: red;
        position: relative;
        top: 2px;
        right: 2px;
      }
    }
  }

  // 左侧 label 的容器
  @include mixins.e(label-wrapper) {
    // width: 100px;
    padding-right: 8px;
    box-sizing: border-box;

    // 描述文本
    @include mixins.e(label) {
      display: inline-block;
      width: 100%;
      height: var(#{fn.getVarName(form-item, size)});
      line-height: var(#{fn.getVarName(form-item, size)});
      white-space: nowrap;
    }
  }

  // 右侧 控件 的容器
  @include mixins.e(control) {
    width: 100%;
    position: relative;

    // 内层表单项的容器
    @include mixins.e(control-inner) {
    }

    // 错误消息
    @include mixins.e(message) {
      position: absolute;
      margin-top: 2px;
      font-size: 12px;
      color: red;
    }
  }
}

// 定义入场和离场期间的过渡效果
.a-error-fade-enter-active,
.a-error-fade-leave-active {
  transition: opacity 0.3s ease;
}

// 指定入场动画的起始状态和离场动画的终止状态
.a-error-fade-enter-from,
.a-error-fade-leave-to {
  opacity: 0;
}
