@use './common/mixins.scss';
// 一次性导入 iconfont 字体图标
@use '../icon-fonts/iconfont.css';
@use './initRoot.scss';
@use './loading.scss';

@include mixins.b(icon) {
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: inherit;
  fill: currentColor;

  svg {
    width: 1em;
    height: 1em;
  }

  .iconfont {
    font-size: inherit;
  }
}
