@use './common/mixins.scss';

@include mixins.b(icon) {
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: inherit;
  fill: currentColor;

  svg {
    width: 1em;
    height: 1em;
  }
}
