@use './common/mixins.scss';
@use './common/componentVar.scss' as comVar;
@use './common/function.scss' as fn;
@use './common/var.scss';

// 根元素
@include mixins.b(message) {
  @include mixins.set-component-var(message, comVar.getMessageVar());

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(#{fn.getVarName(message, bg-color)});
  position: fixed;
  // top: 16px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  padding: 0 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
  font-size: var(#{fn.getVarName(message, font-size)});
  color: var(#{fn.getVarName(message, text-color)});
  cursor: default;
  user-select: none;
  white-space: nowrap;
  transition: 0.3s;

  // 左侧的 icon
  @include mixins.e(icon) {
    margin-right: 10px;
    color: var(#{fn.getVarName(message, icon-color)});
    font-size: 16px;
  }

  // 中间的消息内容
  @include mixins.e(content) {
    font-size: var(#{fn.getVarName(message, font-size)});
    color: var(#{fn.getVarName(message, text-color)});
  }

  // 右侧的关闭 icon
  @include mixins.e(close) {
    margin-left: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
    color: var(#{fn.getVarName(message, close-icon-color)});

    &:hover {
      opacity: 1;
    }
  }
}

// 循环生成主题颜色
@each $type in var.$types-base {
  @include mixins.m($type) {
    @include mixins.set-component-var(message, comVar.getMessageVar($type), type);
  }
}

// 单独处理 info 消息的主题
@include mixins.m(info) {
  #{fn.getVarName(message, bg-color)}: var(#{fn.getVarName(color, gray, light-9)});
}

// 动画相关的样式
.a-message-enter-from,
.a-message-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
