@use './common/mixins.scss';

// 根元素
@include mixins.b(message) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cyan;
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  padding: 0 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  color: #333;
  cursor: default;
  user-select: none;

  // 左侧的 icon
  @include mixins.e(icon) {
    margin-right: 10px;
    color: #333;
  }

  // 中间的消息内容
  @include mixins.e(content) {
    font-size: 14px;
    color: #333;
  }

  // 右侧的关闭 icon
  @include mixins.e(close) {
    margin-left: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
