@use 'sass:map';
@use './common/mixins.scss';
@use './common/componentVar.scss' as comVar;
@use './common/function.scss' as fn;
@use './common/var.scss';
@use './icon.scss';
@use './initRoot.scss';
@use './loading.scss';

// 外层圆的尺寸
$circle-size: () !default;
$circle-size: map.deep-merge(
  (
    small: 16px,
    default: 20px,
    large: 24px
  ),
  $circle-size
);

// 内层圆的尺寸
$dot-size: () !default;
$dot-size: map.deep-merge(
  (
    small: 6px,
    default: 8px,
    large: 10px
  ),
  $dot-size
);

:root {
  @include mixins.set-private-var(radio-circle-size, $circle-size);
  @include mixins.set-private-var(radio-dot-size, $dot-size);
}

// 根元素
@include mixins.b(radio) {
  @include mixins.set-component-var(radio, comVar.getRadioVar());

  display: inline-flex;
  align-items: center;
  height: var(#{fn.getVarName(radio, size)});
  margin-right: 24px;
  cursor: pointer;
  user-select: none;

  // 选中时候的样式
  @include mixins.s(checked) {
    #{fn.getVarName(radio, border-color)}: var(#{fn.getVarName(radio, checked-border-color)});
    #{fn.getVarName(radio, bg-color)}: var(#{fn.getVarName(radio, checked-bg-color)});

    // 内部的小圆点
    @include mixins.e(dot, false) {
      transform: scale(1);
    }
  }

  // 禁用状态的样式
  @include mixins.s((disabled, loading)) {
    #{fn.getVarName(radio, border-color)}: var(#{fn.getVarName(radio, disabled-border-color)});
    #{fn.getVarName(radio, bg-color)}: var(#{fn.getVarName(radio, disabled-bg-color)});
    #{fn.getVarName(radio, text-color)}: var(#{fn.getVarName(radio, disabled-text-color)});
    #{fn.getVarName(radio, dot-color)}: var(#{fn.getVarName(radio, disabled-dot-color)});

    @include mixins.e(icon-loading, false) {
      color: var(#{fn.getVarName(radio, dot-color)});
      font-size: calc(var(#{fn.getVarName(radio, dot-size)}) + 6px);
    }
  }

  // 左侧的容器
  @include mixins.e(wrapper) {
    position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;

    // 被隐藏的真实的单选按钮
    @include mixins.e(input) {
      position: absolute;
      left: 0;
      top: 0;
      display: none;
    }

    // 模拟的单选按钮
    @include mixins.e(inner) {
      width: var(#{fn.getVarName(radio, circle-size)});
      height: var(#{fn.getVarName(radio, circle-size)});
      border: 2px solid var(#{fn.getVarName(radio, border-color)});
      box-sizing: border-box;
      border-radius: 50%;
      background-color: var(#{fn.getVarName(radio, bg-color)});
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      position: absolute;

      // 选中后的小圆点
      @include mixins.e(dot) {
        display: inline-flex;
        width: var(#{fn.getVarName(radio, dot-size)});
        height: var(#{fn.getVarName(radio, dot-size)});
        border-radius: 50%;
        background-color: var(#{fn.getVarName(radio, dot-color)});
        transform: scale(0);
        transition: 0.3s;
      }
    }
  }

  // 右侧的描述文本
  @include mixins.e(label) {
    margin-left: calc(8px + var(#{fn.getVarName(radio, circle-size)}));
    font-size: var(#{fn.getVarName(radio, font-size)});
    color: var(#{fn.getVarName(radio, text-color)});
  }
}

// 循环生成主题相关的选择器
@each $type in var.$types-base {
  @include mixins.m($type) {
    @include mixins.s(checked) {
      @include mixins.set-component-var(radio, comVar.getRadioVar($type), type);
    }
  }
}

// 循环生成 size 尺寸
@each $s in var.$sizes {
  @include mixins.m(size, $s) {
    // 进行私有变量的覆盖（只需要覆盖尺寸相关的变量）
    #{fn.getVarName(radio, size)}: var(#{fn.getVarName(component-size, $s)});
    #{fn.getVarName(radio, font-size)}: var(#{fn.getVarName(font-size, $s)});
    #{fn.getVarName(radio, circle-size)}: var(#{fn.getVarName(radio-circle-size, $s)});
    #{fn.getVarName(radio, dot-size)}: var(#{fn.getVarName(radio-dot-size, $s)});
  }
}
