@use 'sass:map';
@use './common/mixins.scss';
@use './common/componentVar.scss' as comVar;
@use './common/function.scss' as fn;
@use './common/var.scss';

// 私有变量
$switch-size: () !default;
$switch-size: map.deep-merge(
  (
    small: 24px,
    default: 28px,
    large: 32px
  ),
  $switch-size
);

$switch-width: () !default;
$switch-width: map.deep-merge(
  (
    small: 40px,
    default: 48px,
    large: 56px
  ),
  $switch-width
);

// Switch 组件的全局私有变量
:root {
  @include mixins.set-private-var(switch-size, $switch-size);
  @include mixins.set-private-var(switch-width, $switch-width);
}

// 根元素
@include mixins.b(switch) {
  // 混入私有变量
  @include mixins.set-component-var(switch, comVar.getSwitchVar());

  display: inline-flex;
  cursor: pointer;
  user-select: none;

  // 选中的状态
  @include mixins.s(checked) {
    #{fn.getVarName(switch, text-color)}: var(#{fn.getVarName(switch, checked-text-color)});
    #{fn.getVarName(switch, bg-color)}: var(#{fn.getVarName(switch, checked-bg-color)});

    // 设置中心圆的位移
    @include mixins.e(button, false) {
      transform: translateX(100%);
    }
  }

  // 外层容器
  @include mixins.e(wrapper) {
    width: var(#{fn.getVarName(switch, width)});
    height: var(#{fn.getVarName(switch, height)});
    background-color: var(#{fn.getVarName(switch, bg-color)});
    border-radius: 100px;
    display: flex;
    transition: 0.3s;
    overflow-x: hidden;

    // 复选框
    @include mixins.e(input) {
      display: none;
    }

    // 控制区域
    @include mixins.e(handle) {
      flex: 1;
      border-radius: 100px;
      padding: 4px;
      box-sizing: border-box;
      display: flex;
      position: relative;

      // 中心圆
      @include mixins.e(button) {
        width: calc(var(#{fn.getVarName(switch, height)}) - 8px);
        height: calc(var(#{fn.getVarName(switch, height)}) - 8px);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        top: 4px;
        left: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(#{fn.getVarName(switch, text-color)});
        font-size: var(#{fn.getVarName(switch, font-size)});
        transition: 0.3s;
      }

      // 内层容器
      @include mixins.e(inner) {
        display: flex;
        flex: 1;
        box-sizing: border-box;

        // 文字
        > span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 100%;
          color: var(#{fn.getVarName(switch, text-color)});
          font-size: var(#{fn.getVarName(switch, font-size)});
          transition: 0.3s;
        }

        // 缩放动画
        &.transition-scale {
          > span {
            transform: scale(0);
            @include mixins.s(checked) {
              transform: scale(1);
            }
          }
        }

        // 滑动动画
        &.transition-slide {
          @include mixins.e(inner-checked) {
            transform: translateX(-120%);
            @include mixins.s(checked) {
              transform: translateX(0);
            }
          }
          @include mixins.e(inner-unchecked) {
            transform: translateX(120%);
            @include mixins.s(checked) {
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}

// 动态生成尺寸对应的选择器
@each $s in var.$sizes {
  @include mixins.m(size, $s) {
    #{fn.getVarName(switch, width)}: var(#{fn.getVarName(switch-width, $s)});
    #{fn.getVarName(switch, height)}: var(#{fn.getVarName(switch-size, $s)});
    #{fn.getVarName(switch, font-size)}: var(#{fn.getVarName(font-size, $s)});
  }
}
