/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Gilroy'; /* 自定义字体名称 */
  src: url('https://api.escook.cn/dict/video/Gilroy-Medium.ttf') format('ttf');
  font-weight: normal; /* 字体粗细 */
  font-style: normal; /* 字体样式，如斜体 */
}

.a-dialog,
.a-drawer {
  color: #333;
}

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #bd34fe 30%, #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.VPNavBarTitle .logo {
  height: 56px;
  border-radius: 0;
}

/* 自定义样式 */

body {
  font-family:
    Gilroy,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif !important;
  font-weight: 200;
}

/* 紫色表格 */
/* 
thead {
  border-top: 6px solid #a29bdb;
}

th {
  background-color: #edeaff !important;
}

tr:nth-of-type(even) {
  background-color: #edeaff !important;
}

tr:nth-of-type(odd) {
  background-color: #f9f8ff !important;
}

th,
td {
  border: 1px solid #d5d0f3 !important;
  height: 3.5em;
}

.dark {
  thead {
    border-top: 6px solid #362e7e;
  }

  th {
    background-color: #493ea8 !important;
    color: #fff;
  }

  tr:nth-of-type(even) {
    background-color: #493ea8 !important;
  }

  tr:nth-of-type(odd) {
    background-color: #584bc5 !important;
  }

  th,
  td {
    border: 1px solid #3b328a !important;
  }
} */

/* 绿色表格 */

thead {
  border-top: 6px solid #d6f0d6;
}

th {
  background-color: #f1fff0 !important;
}

tr:nth-of-type(even) {
  background-color: #f1fff0 !important;
}

tr:nth-of-type(odd) {
  background-color: #f7fff7 !important;
}

th,
td {
  border: 1px solid #d6f0d6 !important;
  height: 3.5em;
}

.dark {
  .a-radio,
  .a-checkbox {
    --a-text-color-primary: #dfdfdf;
  }

  .a-form-item__label {
    color: #dfdfdf;
  }
  thead {
    border-top: 6px solid #355334;
  }

  th {
    background-color: #40643f !important;
    color: #fff;
  }

  tr:nth-of-type(even) {
    background-color: #40643f !important;
  }

  tr:nth-of-type(odd) {
    background-color: #466e45 !important;
  }

  th,
  td {
    border: 1px solid #355334 !important;
  }
}
