@use './function.scss' as fn;
// 用于声明每一类组件的私有变量

@function getButtonVar($type: '') {
  $button: (
    // 按钮的默认状态（边框色、背景色、文字色）
    border-color:
      (
        // 如果要获取默认按钮的颜色变量，取 default 属性的值
        default: fn.getVarName(border-color, default),
        // 如果要获取其它按钮的颜色变量，取 type 属性的值
        type: fn.getVarName(color, $type)
      ),
    bg-color: (
      default: fn.getVarName(color, white),
      type: fn.getVarName(color, $type)
    ),
    text-color: (
      default: fn.getVarName(text-color, primary),
      type: fn.getVarName(color, white)
    ),
    // 按钮的 hover 状态
    hover-border-color:
      (
        default: fn.getVarName(color, primary, light-5),
        type: fn.getVarName(color, $type, light-3)
      ),
    hover-bg-color: (
      default: fn.getVarName(color, primary, light-9),
      type: fn.getVarName(color, $type, light-3)
    ),
    hover-text-color: (
      default: fn.getVarName(color, primary),
      type: fn.getVarName(color, white)
    ),
    // 按钮 disabled 时候的状态
    disabled-border-color:
      (
        default: fn.getVarName(border-color, disabled),
        type: fn.getVarName(color, $type, light-6)
      ),
    disabled-bg-color: (
      default: fn.getVarName(color, white),
      type: fn.getVarName(color, $type, light-6)
    ),
    disabled-text-color: (
      default: fn.getVarName(text-color, disabled),
      type: fn.getVarName(color, white)
    ),
    // 按钮的尺寸变量 --a-button-size
    size:
      (
        default: fn.getVarName(component-size, default)
      ),
    font-size: (
      default: fn.getVarName(font-size, default)
    ),
    // 链接按钮 - 默认状态
    is-link-color:
      (
        default: fn.getVarName(text-color, primary),
        type: fn.getVarName(color, $type)
      ),
    // 链接按钮 - hover 状态
    hover-is-link-color:
      (
        default: fn.getVarName(text-color, secondary),
        type: fn.getVarName(color, $type, light-3)
      ),
    // 链接按钮 - disabled 状态
    disabled-is-link-color:
      (
        default: fn.getVarName(text-color, disabled),
        type: fn.getVarName(color, $type, light-6)
      ),
    // 文字按钮 - 默认状态
    is-text-color:
      (
        default: fn.getVarName(text-color, primary),
        type: fn.getVarName(color, $type)
      ),
    is-text-bg-color: (
      default: fn.getVarName(color, white),
      type: fn.getVarName(color, white)
    ),
    // 文字按钮 - hover 状态
    hover-is-text-color:
      (
        default: fn.getVarName(text-color, primary),
        type: fn.getVarName(color, $type)
      ),
    hover-is-text-bg-color: (
      default: fn.getVarName(border-color, disabled),
      type: fn.getVarName(color, $type, light-9)
    ),
    // 文字按钮 - disabled 状态
    disabled-is-text-color:
      (
        default: fn.getVarName(text-color, disabled),
        type: fn.getVarName(color, $type, light-5)
      ),
    disabled-is-text-bg-color: (
      default: fn.getVarName(color, white),
      type: fn.getVarName(color, white)
    ),
    // 边框按钮 - 默认状态
    is-border-text-color:
      (
        default: fn.getVarName(text-color, primary),
        type: fn.getVarName(color, $type)
      ),
    is-border-color: (
      default: fn.getVarName(border-color, default),
      type: fn.getVarName(color, $type)
    ),
    // 边框按钮 - hover 状态
    hover-is-border-text-color:
      (
        default: fn.getVarName(text-color, secondary),
        type: fn.getVarName(color, $type, light-3)
      ),
    hover-is-border-color: (
      default: fn.getVarName(border-color, hover),
      type: fn.getVarName(color, $type, light-3)
    ),
    // 边框按钮 - disabled 状态
    disabled-is-border-text-color:
      (
        default: fn.getVarName(text-color, disabled),
        type: fn.getVarName(color, $type, light-6)
      ),
    disabled-is-border-color: (
      default: fn.getVarName(border-color, disabled),
      type: fn.getVarName(color, $type, light-6)
    )
  );

  @return $button;
}

@function getInputVar() {
  $input: (
    text-color: (
      default: fn.getVarName(text-color, primary)
    ),
    border-color: (
      default: fn.getVarName(border-color, default)
    ),
    bg-color: (
      default: fn.getVarName(color, white)
    ),
    size: (
      default: fn.getVarName(component-size, default)
    ),
    font-size: (
      default: fn.getVarName(font-size, default)
    ),
    round: (
      default: fn.getVarName(component-round, default)
    ),
    padding: (
      default: '10px'
    )
  );

  @return $input;
}

@function getCheckboxVar() {
  $checkbox: (
    // 基础状态
    border-color:
      (
        default: fn.getVarName(border-color, default)
      ),
    bg-color: (
      default: fn.getVarName(color, white)
    ),
    text-color: (
      default: fn.getVarName(text-color, primary)
    ),
    icon-color: (
      default: fn.getVarName(color, white)
    ),
    // 禁用状态
    // 勾选状态
    checked-border-color:
      (
        default: fn.getVarName(color, primary)
      ),
    checked-bg-color: (
      default: fn.getVarName(color, primary)
    ),
    checked-text-color: (
      default: fn.getVarName(text-color, primary)
    ),
    checked-icon-color: (
      default: fn.getVarName(color, white)
    ),
    // 其它的私有变量（尺寸）
    size:
      (
        default: fn.getVarName(component-size, default)
      ),
    font-size: (
      default: fn.getVarName(font-size, default)
    )
  );

  @return $checkbox;
}
