@use 'sass:map';
@use 'sass:string';
@use './var.scss';
@use './function.scss' as fn;
@use './config.scss';

// 用于给 :root 动态生成基础颜色的 css 变量
@mixin set-base-color() {
  @each $type in var.$types {
    // 生成 css 变量
    // --a-color-success: #{$color-success};
    $color: map.get(var.$colors, $type, base);
    #{fn.getVarName('color', $type)}: #{$color};
  }
}

// 用于给 :root 动态生成层次色的 css 变量
@mixin set-level-color($mode: 'light') {
  // --a-color-black-light-3
  @each $type in var.$types-mix {
    @for $i from 1 through 9 {
      $name: fn.getVarName('color', $type, $mode, $i);
      $color: map.get(var.$colors, $type, #{$mode + '-' + $i});
      // 变量名: 值;
      #{$name}: #{$color};
    }
  }
}

// 用于给 :root 动态生成组件库全局通用的 css 变量
@mixin set-global-var() {
  // 注意：如果 @each 遍历的集合中，是键值对结构，则可以拿到 $key 和 $value
  //       如果 @each 遍历的集合中，是列表结构，则仅可以拿到元素 $item
  @each $key, $data in var.$global {
    @each $type, $value in $data {
      // --a-component-size-small: 24px;
      $name: fn.getVarName($key, $type);
      $val: map.get(var.$global, $key, $type);

      #{$name}: #{$val};
    }
  }
}

// 生成组件私有的全局变量
@mixin set-private-var($block, $var) {
  @each $key, $data in $var {
    $name: fn.getVarName($block, $key);
    #{$name}: #{$data};
  }
}

// 生成组件专属的私有变量
// --a-button-bg-color: var(--a-color-white);
@mixin set-component-var($com-type, $var, $var-key: 'default') {
  @each $key, $data in $var {
    // --a-button-bg-color
    $name: fn.getVarName($com-type, $key);
    // 先获取私有变量的值，但是，
    // 并不确定这个值是 --a 开头的字符串还是 纯粹的值
    $map-val: map.get($var, $key, $var-key);

    // --a-input-font-size: var(--a-font-size-default);
    // --a-input-padding: var(10px);

    @if $map-val {
      // 进一步判断 $map-val 是否以 --a 开头
      $index: string.index($map-val, '--' + config.$namespace);
      @if $index {
        $value: var(#{$map-val});
        #{$name}: #{$value};
      } @else {
        $value: #{$map-val};
        #{$name}: #{$value};
      }
    }
  }
}

// 生成 Block 块类名
@mixin b($block) {
  $b: '.' + config.$namespace + config.$connect + $block !global;

  #{$b} {
    // 占位符
    @content;
  }
}

// 生成 Element 元素类名
@mixin e($el, $root: true) {
  $e: $b + config.$element-connect + $el;

  @if $root {
    // 被 @at-root 包裹的选择器，会脱离父级，不与父级形成嵌套关系
    @at-root {
      #{$e} {
        // 样式
        @content;
      }
    }
  } @else {
    #{$e} {
      // 样式
      @content;
    }
  }
}

// 生成 Modifier 修改器类名
@mixin m($modifier, $value: '') {
  $m: $b + config.$modifier-connect + $modifier;

  @if $value != '' {
    $m: $m + config.$modifier-value-connect + $value;
  }

  @at-root {
    #{$m} {
      @content;
    }
  }
}

// 生成状态类名
@mixin s($attrs, $and: true) {
  $selector: '';

  @each $attr in $attrs {
    $selector: $selector + if($and, '&.', '.') + config.$is-prefix + $attr + ',';
  }

  #{$selector} {
    @content;
  }
}
